Estilizar o título principal do seu site
h1{
color: black;
font-family: ;
background: ;
}
Estilizar o título principal do seu site
h1{
color: ;
font-family: ;
background: ;
}
Estilizar os parágrafos
p{
color:blue ;
font-family: ;
font-size: 30 ;
background: ;
}